
<div class="container-fluid">
    <div class="row">
        <main class="contentProduct">
            <div class="items-box" >
                <div class="elem-box text-success" (click)="onCreate()">
                    <h4>Utwórz nową</h4>
                    <h4>listę zakupów</h4>
                    <h2>+</h2>
                </div>
            </div>
            <div *ngFor="let list of shoppingList" class="items-box">
                <div class="elem-box">
                    <div class="shoppingListElem" [class.d-none]="editingListId === list.id">
                            <div class="mb-3 ms-auto">
                                <button class= "btn btn-secondary btn-sm m-1" aria-label="Edit" title="Kliknij, aby edytować listę zakupów"
                                click-stop-propagation (click)="setEditingListId(list.id!)">
                                ...</button>
                                <button click-stop-propagation (click)="onDelete(list.id!)" 
                                type="button" class="btn btn-danger btn-sm m-1" aria-label="Close" 
                                title="Kliknij, aby usunąć listę zakupów">×
                                </button>
                            </div>
                        <a [routerLink]="['/shoppingList/', list.id]">
                            <h3>{{list.listTitle}}</h3>
                            <div *ngIf="list?.recurrencePattern !== 'BRAK'">
                                <p>cykl: {{list.recurrencePattern}}</p>
                                <p>początek cyklu: {{list.startOccurrenceDate}}</p>
                                <p>koniec cyklu: {{list.nextOccurrenceDate}}</p>
                            </div>    
                        </a>
                    </div>
                    <div class= "d-none shoppingListEdit" [class.d-none]="editingListId !== list.id" >
                        <input type="text" [(ngModel)]="list.listTitle" class="m-1 form-control" />
                        <select size ="3" [(ngModel)]="list.recurrencePattern" class="m-1 form-select text-center">
                            <option disabled>Wybierz cykliczność</option>
                            <option>BRAK </option>
                            <option>DAILY </option>
                            <option>WEEKLY </option>
                            <option>MONTHLY </option>
                            <option>YEARLY </option>
                        </select>
                        <div *ngIf="list.recurrencePattern !== 'BRAK'">
                            <p>Ustaw datę zaczynającą cykl:
                            <input type="Date" [(ngModel)]="list.startOccurrenceDate" class="m-1 form-control"/>
                        </div>    
                        <!-- submit button-->
                        <div class="text-center m-3">
                            <button type="submit" class="btn btn-info" (click)="onUpdate(list)"> Zapisz </button>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
    </div>
</div>