/* You can add global styles to this file, and also import other style files */
.topHeader{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: white;

}

.logo{
  left:0;
  width: auto;
  display: block;
  text-align:center;
}

.logo img{
  width: 15%;
}

a{
  text-decoration: none;
}

.active-link {
  font-weight: bold;
}

ul.top-menu-list {
  /* display: inline-block; */
  float: left;
  left:10vw;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1565C0;
  text-align: center;
  }

li.top-menu-item{
    /* float:left; */
    display: inline-block;
    width: 150px;
    text-align: left;
}

li.top-menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.top-menu-item a:hover {
    background-color: #0D47A1;
  }


.sidenav {
  height: 100%;
  width: 200px;
  text-align: start;
  /* background-color: #eeeaea; */
  background-image: linear-gradient(to right, #eeeaea , white);  
  position: fixed;
  z-index: 1;
  top: 120px;
  padding-top: 20px;
  padding-bottom: 150px;
  overflow-y: auto;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 0.8em;
  color: #939292;
  display: block;
}

.sidenav a:hover {
  color: #5d5d5d;
}


.container-fluid{
    margin-left: 200px;
    padding-left: 0; /* Zapewniamy, że treść zaczyna się od krawędzi kontenera */
    max-width: calc(100% - 200px);
}

  
.contentProduct{
  
  padding-top: 120px;
  float: center;
  padding-bottom: 100px;
  text-align: left;
  padding-left: 20px;

  display: flex; 
  flex-wrap: wrap;
  gap: 1rem; 
  justify-content: flex-start;
}

.contentProduct img{
  width: 100%;
}

.productItem{
  width: 20rem; 
  padding: 1rem;
}

.product-box{
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem;
  text-align: center;
  transition: box-shadow 0.2s;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.product-box:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.productItem img{
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
}

.productItem p{
  color:#374151;
  font-size: 1em;
  margin-top: 0.75rem;
  font-weight: 600; 
  line-height: 1.2; 
  max-width: 100%;
}

.search-form{
  max-width: max-content;
  margin-bottom: 10px;
}

.grade-a {
  color: #008000; /* Ciemna zieleń (Doskonale) */
}

.grade-b {
  color: #3399ff; /* Jasny niebieski (Dobrze) */
}

.grade-c {
  color: #ff9900; /* Pomarańczowy (Średnio) */
}

.grade-d-e {
  color: #cc0000; /* Ciemna czerwień (Źle) */
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}