<div class="container-fluid">
    <div class="row">
        <main class="contentProduct">
            <div class="row col-12">
                <button (click)="createMode = !createMode" class="create-button mx-auto d-block col-8" *ngIf="!createMode">
                    <span>Dodaj przepis</span>
                </button>
                <div class="create-box mx-auto d-block col-6" *ngIf="createMode">
                    <p class="text-success">Utwórz nowy przepis</p>
                    <form (ngSubmit)="addRecipe()" [formGroup]="recipeForm">
                        <input type="text" 
                            formControlName="recipeTitle"
                            placeholder="Tytuł przepisu" 
                            class="form-control m-1"
                            required 
                            minlength="3"
                            aria-label="Recipe title"/>
                        <div *ngIf="recipeForm.get('recipeTitle')?.invalid && (recipeForm.get('recipeTitle')?.dirty || recipeForm.get('recipeTitle')?.touched)" class="text-danger m-1">
                            <div *ngIf="recipeForm.get('recipeTitle')?.errors?.['required']">
                                Tytuł przepisu jest wymagany.
                            </div>
                            <div *ngIf="recipeForm.get('recipeTitle')?.errors?.['minlength']">
                                Tytuł przepisu musi mieć co najmniej 3 znaki.
                            </div>
                        </div>
                        <textarea 
                            formControlName="recipeInstructions"
                            placeholder="Opis przepisu"
                            class="form-control m-1"
                            minlength="3"
                            aria-label="Recipe instructions">
                        </textarea>
                        <div *ngIf="recipeForm.get('recipeInstructions')?.invalid && 
                            (recipeForm.get('recipeInstructions')?.dirty || recipeForm.get('recipeInstructions')?.touched)" 
                            class="text-danger m-1">
                            <div *ngIf="recipeForm.get('recipeInstructions')?.errors?.['minlength']">
                                Opis przepisu musi mieć co najmniej 3 znaki.
                            </div>
                        </div>
                        <div class="text-center">
                            <button
                                class="btn btn-secondary btn-sm m-1 border shadow-sm" 
                                type="submit"
                                aria-label="Add recipe"
                                [disabled]="recipeForm.invalid">
                                Zapisz przepis
                            </button>
                            <button 
                                class="btn btn-light btn-sm m-1 border shadow-sm text-secondary" 
                                type="button"
                                aria-label="Cancel"
                                (click)="createMode = !createMode">
                                Anuluj
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="row">
                <div class="items-box col-12" *ngFor="let recipe of recipes">
                    <div class="elem-box position-relative pt-5">
                        
                        <button
                            click-stop-propagation (click)="onDelete(recipe.id!)" 
                            type="button" class="btn btn-danger shadow-sm btn-sm m-1 position-absolute top-0 end-0" aria-label="Close" 
                            title="Kliknij, aby usunąć przepis"> ×
                        </button>
                    
                        <div class="shoppingListElem">
                            <h3>title: {{ recipe.title }}</h3>
                            <p>Przepis: {{ recipe.instruction }}</p>
                            <p>Utworzono: {{ recipe.createdAt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
<div>
