<div class="page-wrapper">

    <header>
        <div class="topHeader">
            <!-- Navigation Menu -->
            <nav> 
                <!-- Logo -->
                <div class="logo">
                    <a routerLink="/products">
                        <img src="../assets/image/logo.png" alt="KuchennyAsystent" />
                    </a>
                    
                </div>
                <ul class="top-menu-list">
                    <li class="top-menu-item" >
                        <a routerLink="/products" routerLinkActive="active-link">Spiżarnia </a>
                    </li>
                    <li class="top-menu-item">
                        <a routerLink="/shoppingList" routerLinkActive="active-link">Lista Zakupów </a>
                    </li>
                    <li class="top-menu-item">
                        <a routerLink="/recipes" routerLinkActive="active-link">Przepiśnik </a>
                    </li>
                </ul> 
            </nav>
        </div>
    </header>

    <div class="page-container">
        <router-outlet>
            <div class="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
            <div *ngFor="let toast of notificationService.getToasts()" 
                [ngClass]="['toast-message', toast.type]">
                {{ toast.message }}
            </div>
        </div>
        </router-outlet>        
    </div>
</div>


