<div class="container-fluid">
    <div class="row">
        <main class="content">
            <button (click)="toggleEdit()"
                    class= "rounded bg-light shadow-sm fw-semibold">{{ isEditable ? 'Anuluj' : 'Edytuj' }}</button>

            
            <form [formGroup]="mainForm" 
                    (ngSubmit)="save()"
                    class="mx-auto d-block col-10">

                <h4 class="my-4 p-3 bg-light rounded shadow-sm fw-semibold border-start border-4 border-primary d-flex align-items-center">
                    <i class="bi bi-journal-text me-2 text-primary"></i>
                    Przepis
                </h4>
                <app-recipe-fields [group]="mainForm.get('recipe')"></app-recipe-fields>

                <button (click)="showAddItemForm = !showAddItemForm" type="button"
                class="col-12 btn btn-light shadow-sm btn-sm m-1 mb-3 fw-bold text-secondary"
                *ngIf="isEditable == false">
                    <span *ngIf="showAddItemForm">Ukryj formularz</span>
                    <span *ngIf="!showAddItemForm">+ Dodaj produkt do przepisu</span>
                </button>
                <div class="mx-auto mb-5" *ngIf="showAddItemForm" >
                    <small class="text-center text-secondary fw-bold mx-auto mb-5"> 
                        Dodaj produkt do przepisu
                    </small>
                    <div [formGroup]="addItemForm" class="border rounded p-3 shadow-sm">
                        <select (change)="onCategoryChange($event)" 
                                class="form-select text-center mb-3" 
                                name="categoryId" 
                                formControlName="categoryId"
                                aria-label="Select category">
                            <option [ngValue]="null">Wszystkie kategorie</option>
                            <option *ngFor="let cat of categories" [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                        <div class="mb-3">
                            <label for="productSelect" class="form-label pt-1">Wybierz produkt:</label>
                            <select class="form-select text-center" 
                                id="productSelect" 
                                name="productId" 
                                required
                                formControlName="productId">
                                <option [ngValue]="null">...</option>
                                <option *ngFor="let product of filteredProducts" [value]="product.id">
                                    {{product.name}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="weightInput" class="form-label">Waga [g]:</label>
                            <input type="number" 
                                class="form-control text-center" 
                                id="weightInput" 
                                name="weight" 
                                value="1.0" 
                                min="0"
                                step="0.1" 
                                max="1000"
                                required
                                formControlName="weight"
                            />
                        </div>
                        <div class="text-center">
                            <button type="button" (click)="addItem()"
                                class="btn btn-secondary btn-sm m-1 border shadow-sm"
                                aria-label="Add product"
                                title="Kliknij, aby dodać produkt do przepisu">
                                Dodaj produkt
                            </button>
                            <button type="button" class="btn btn-light btn-sm m-1 border shadow-sm text-secondary"
                            aria-label="Cancel"
                            title="Kliknij, aby ukryć formularz dodawania produktu"
                            (click)="showAddItemForm = false">Anuluj
                            </button>   
                        </div>
                    </div>
                </div>

                <hr>

                <ng-container *ngIf = "products$ | async as allProducts; else loadingorEmpty">
                    <ng-container *ngIf="allProducts.length>0;  else emptyList" class="table-responsive shadow-sm rounded" >
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr class="small">
                                <th rowspan="2">Nazwa produktu</th>
                                <th rowspan="2">
                                    Waga [g]
                                </th>
                                <th colspan="8">Makroskładniki w przeliczeniu na wagę produktu</th>
                            </tr>
                            <tr class="small align-middle">
                                <th> Ocena </th>
                                <th> Kalorie [kcal]</th>
                                <th> Węglowodany [g]</th>
                                <th> Cukry [g]</th>
                                <th> Białka [g]</th>
                                <th> Tłuszcze [g]</th>
                                <th> Tłuszcze nasycone [g]</th>
                                <th> Błonnik [g]</th>
                                <th *ngIf="isEditable"></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="items">
                            <tr *ngFor="let product of allProducts; let i=index" [formGroupName]="i" class="align-middle text-center small">
                                <td> {{ product.name }}</td>
                                <td>
                                    <ng-container *ngIf="isEditable; else staticWeight">
                                        <input type="number" 
                                            class="form-control text-center" 
                                            formControlName="weight"
                                            [readonly]="!isEditable" 
                                            min="0.1"
                                            step="0.1">
                                    </ng-container>
                                    <ng-template #staticWeight>
                                        {{ product.weightGrams | number:'1.1-2' }}
                                    </ng-template>
                                </td>

                                <td> {{ product.nutrients.nutritionGrade }} </td>
                                <td> {{ product.nutrients.energy | number:'1.2-2'}} </td>
                                <td> {{ product.nutrients.carbohydrate | number:'1.2-2'}} </td>
                                <td> {{ product.nutrients.sugar | number:'1.2-2'}} </td>
                                <td> {{ product.nutrients.protein | number:'1.2-2'}} </td>
                                <td> {{ product.nutrients.fat | number:'1.2-2' }} </td>
                                <td> {{ product.nutrients.saturatedFat | number:'1.2-2' }} </td>
                                <td> {{ product.nutrients.fiber | number:'1.2-2' }} </td>
                                <td *ngIf="isEditable">
                                    <button type="button" (click)="onDeleteItem(product.itemId)" class="btn btn-danger btn-sm">
                                        Usuń
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold; background-color: #f9f9f9;" class="align-middle text-center small">
                                <td colspan="3" style="text-align: left;"> Podsumowanie: </td>
                                <td> {{ totals.energy | number:'1.2-2'}} </td>
                                <td> {{ totals.carbohydrate | number:'1.2-2'}} </td>
                                <td> {{ totals.sugar | number:'1.2-2'}} </td>
                                <td> {{ totals.protein | number:'1.2-2'}} </td>
                                <td> {{ totals.fat | number:'1.2-2'}} </td>
                                <td> {{ totals.saturatedFat | number:'1.2-2'}} </td>
                                <td> {{ totals.fiber | number:'1.2-2'}} </td>
                            </tr>
                        </tfoot>
                    </table> 
                    </ng-container>   
                </ng-container>

                <ng-template #loadingorEmpty>
                    <p class="text-center text-muted">Ładowanie danych...</p>
                </ng-template>

                <ng-template #emptyList>
                    <p class="text-center text-muted">Brak dodanych produktów w tym przepisie.</p>
                </ng-template>

                <button type="submit" *ngIf="isEditable" 
                    [disabled]="mainForm.invalid" 
                    class="btn btn-secondary shadow-sm btn-sm m-3">
                    Zapisz zmiany
                </button>
            </form>
        </main>
    </div>
</div>